<div class="d-block fs-4 text-dark font-monospace text-center bg-success p-2 bg-opacity-25">
  <h1>My Tasks</h1>
  <p> Task Name: <%= @task.title %> </p>
  <p> Task Details: <%= @task.details %> </p>
  <p> IsCompleted: <%= @task.completed %> </p>

  <%= link_to "Back to list", tasks_path %> <br/>
  <%= link_to "Edit", edit_task_path %>
</div>
